<robot name="MensASVBillfishBoatShoeinDarkBrownLeather">
    <link name="base_link">
        <contact>
            <lateral_friction value="1.0" />
        </contact>
        <inertial>
            <origin xyz="-0.0 0.0 0.054" />
            <mass value="1.5303700832470537" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="model_NrwvyDPIlTf.obj" />
            </geometry>
            <material name="MensASVBillfishBoatShoeinDarkBrownLeather">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="model_NrwvyDPIlTf_vhacd.obj" />
            </geometry>
        </collision>
    </link>
</robot>
