<robot name="RubbermaidLargeDrainer">
    <link name="base_link">
        <contact>
            <lateral_friction value="1.0" />
        </contact>
        <inertial>
            <origin xyz="-0.007 0.002 0.06" />
            <mass value="4.359980247793292" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="model_AlWaistI3nR.obj" />
            </geometry>
            <material name="RubbermaidLargeDrainer">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="model_AlWaistI3nR_vhacd.obj" />
            </geometry>
        </collision>
    </link>
</robot>
