<robot name="ThresholdBasketNaturalFinishFabricLinerSmall">
    <link name="base_link">
        <contact>
            <lateral_friction value="1.0" />
        </contact>
        <inertial>
            <origin xyz="-0.0 0.0 0.074" />
            <mass value="3.268302461945974" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="model_z3n3Hp2aoy4.obj" />
            </geometry>
            <material name="ThresholdBasketNaturalFinishFabricLinerSmall">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="model_z3n3Hp2aoy4_vhacd.obj" />
            </geometry>
        </collision>
       
    </link>
</robot>
