<robot name="Schooner">
    <link name="base_link">
        <contact>
            <lateral_friction value="1.0" />
        </contact>
        <inertial>
            <origin xyz="0.0 0.0 0.046" />
            <mass value="1.6343796572963356" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="model_p4GH0BbLFrf.obj" />
            </geometry>
            <material name="Schooner">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="model_p4GH0BbLFrf_vhacd.obj" />
            </geometry>
        </collision>
    </link>
</robot>
