<robot name="Pansy">
    <link name="base_link">
        <contact>
            <lateral_friction value="1.0" />
            <inertia_scaling value="3.0" />
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <mass value="0.155870745332668" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="model_RcqC01G24pR.obj" rpy="0 0 0" />
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="model_RcqC01G24pR_vhacd.obj" rpy="0 0 0" />
            </geometry>
        </collision>
    </link>
</robot>
