*.pyc
*.pkl
*.so
*.egg-info/
.DS_Store
*.pth
src/
pw
*.o
*.ipynb
*.out
npz/
*.npy
dev/transfer.c
*.jpg
*.png
*.bmp
*.bak
*.zip
.*.swp

docs/apidoc

# vscode
.vscode/

# Physics
physics/*.txt
physics/*.json
# Physics assets
physics/models

*/events*
0_VRDemoSettings.txt

cnn_policy*
*ppo_policy*
checkpoint
*.log
*.log.*
*.model.*
examples/train/models/

log_*/
baselines/
aws/
monitor_*
comparison/
0.monitor.csvpaper/
0.monitor.csv

cvpr/
gibson/cpp-household

*.idea*

# Plotting
examples/scripts/plot*

# Models
nav_models

gibson/assets
*.pdf
.cache
notebook
build
dist

# Custom assets
gibson2/data/assets/*
!gibson2/data/assets/models/
gibson2/data/assets/models/*
!gibson2/data/assets/models/ycb/
!gibson2/data/assets/models/fetch/
gibson2/data/assets/models/ycb/*
gibson2/data/assets/models/fetch/*
!gibson2/data/assets/models/ycb/024_bowl/
!gibson2/data/assets/models/ycb/061_foam_brick/
!gibson2/data/assets/models/ycb/024_bowl/metadata.json
!gibson2/data/assets/models/ycb/061_foam_brick/metadata.json
!gibson2/data/assets/models/fetch/fetch_gripper.urdf
!gibson2/data/assets/models/fetch/fetch_gripper_vis.urdf

gibson2/data/g_dataset/*
gibson2/data/ig_dataset/*
!gibson2/data/ig_dataset/objects/console_table/19836/misc/metadata.json
!gibson2/data/ig_dataset/scenes/Pomaria_1_int/urdf/Pomaria_1_int_custom.urdf

