[submodule "igibson/render/pybind11"]
	path = igibson/render/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "igibson/render/glfw"]
	path = igibson/render/glfw
	url = https://github.com/glfw/glfw
[submodule "igibson/render/glm"]
	path = igibson/render/glm
	url = https://github.com/g-truc/glm
[submodule "igibson/render/cryptopp"]
	path = igibson/render/cryptopp
	url = https://github.com/fxia22/cryptopp
