[submodule "gibson2/render/glm"]
	path = gibson2/render/glm
	url = https://github.com/g-truc/glm
[submodule "gibson2/render/openvr"]
	path = gibson2/render/openvr
	url = https://github.com/ValveSoftware/openvr
