sphinx-markdown-tables~=0.0.15
sphinx~=3.5.3
recommonmark~=0.7.1
sphinx-rtd-theme~=1.0.0
pytest~=6.2.3
torch>=1.7.0
torchvision>=0.8.1
flask~=1.1.2
scikit-image~=0.16.2
requests~=2.25.1
pytest-cov>=3.0.0
coverage[toml]>=6.1.1
myst-parser>=0.15.2
packaging>=20.0.0
markupsafe==2.0.1
