<launch>

<arg name="robot_name"/>
<arg name="init_pose"/>

<!-- <node name="spawn_turtlebot" pkg="gazebo" type="spawn_model"
args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)"
respawn="false" output="screen"/> -->

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
<!--  -->

</launch>